body {
    background-color: #cac4c4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #333;
    padding: 10px; /
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0056b3;
}

nav a:active {
    background-color: #003f7f;
}


.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #45a049;
}

img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    max-width: 500px;
    max-height: 500px;
}